@font-face {
  font-family: 'Tillium';
  src: url(./Fonts/Titillium_Web/TitilliumWeb-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Varela-Round';
  src: url(./Fonts/Varela_Round/VarelaRound-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Tillium',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E4FDE1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
